li {
    padding: 5px;
    margin: 5px;
    background: white;
}

.label {
    font-weight: bold;
}

.create-updateform {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}